.source__wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.sources {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
  overflow: hidden;
  width: 300px;
  position: relative;
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

.menu {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto 3% auto;
}

.menu__slide-arrow {
  width: 50px;
  height: 50px;
  border: 2px solid #8a7465;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none !important;
  font-size: 38px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__slide-arrow:hover {
  cursor: pointer;
  background: #8a7465;
}

.menu__slide-arrow:active {
  transform: scale(0.9);
}

.menu__arrow-left {
  transform: rotate(180deg);
}

.active {
  display: flex;
  animation: 0.3s ease-in-out;
}
.next {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  animation: 0.3s ease-in-out;
}

.to-left {
  animation-name: left;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
.from-right {
  animation-name: right;
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 360px) {
  .menu {
    flex-wrap: wrap;
  }
  .sources {
    order: 1;
    margin: 0 auto;
  }
  .menu__wrapper-arrow {
    margin-top: 5%;
  }
  .menu__arrow-left {
    order: 2;
    margin-left: 20%;
  }
  .menu__arrow-right {
    order: 3;
    margin-right: 20%;
  }
}
